<!-- Post sharing snippet -->

<div class="share-wrapper">
  <span class="share-label text-muted me-1"
    >{{ site.data.locales[lang].post.share }}</span
  >
  <span class="share-icons">
    <!-- X (Twitter)
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter" target="_blank" rel="noopener" aria-label="Twitter">
      <i class="fa-brands fa-square-x-twitter"></i>
    </a>
    -->

    <!-- Facebook
    <a href="https://www.facebook.com/sharer/sharer.php?title={{ page.title }}&u={{ url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook" target="_blank" rel="noopener" aria-label="Facebook">
      <i class="fa-brands fa-square-facebook"></i>
    </a>
    -->

    <!-- Telegram
    <a href="https://t.me/share/url?url={{ url }}&text={{ page.title }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Telegram" target="_blank" rel="noopener" aria-label="Telegram">
      <i class="fa-brands fa-telegram"></i>
    </a>
    -->

    <!-- Email -->
    <a
      href="mailto:?subject={{ page.title }}&body=Check out this link: {{ url }}"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Email"
      aria-label="Email"
    >
      <i class="fa-regular fa-envelope"></i>
    </a>
  </span>
</div>
