---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="content ps-0">
    {% for post in page.posts %} {% assign show_post = true %} {% if
    post.categories.size > 1 %} {% for other_post in site.posts %} {% if
    other_post.url != post.url and other_post.categories.size > 1 %} {% if
    other_post.categories[1] == post.categories[1] and other_post.categories[0]
    != post.categories[0] %} {% if post.categories[1] == page.title or
    other_post.categories[1] == page.title %} {% if post.categories[0] !=
    page.title and other_post.categories[0] != page.title %} {% assign show_post
    = false %} {% break %} {% endif %} {% endif %} {% endif %} {% endif %} {%
    endfor %} {% endif %} {% if show_post %}
    <li class="d-flex justify-content-between px-md-3">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      {% include datetime.html date=post.date class='text-muted small
      text-nowrap' lang=lang %}
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
